<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
        <h1 ><%= title %></h1>
        <p > El presente proyecto es una API de alquiler de autos, la cual permiteir치 el registro y posterior login de usuarios,los cuales 
        podran consultar el listado de estacionamientos con que cuenta la aplicaci칩n registrados (donde se encuentran los autos por alquilar). A
         partir de los estacionamientos el usuario podra ver los autos disponibles, de aquel estacionamiento al cual prefiera acercarse a retirar 
         el auto. Una vez elegido el estacionamiento y vistos los autos disponibles, el usuario podra alquilar el auto que mas le guste, solo podra 
         alquilar un auto por vez y este tiene que estar disponible. Una vez devuelto el auto en el estacionamiento podr치 finalizar el alquiler 
         desde la app podra cancelar el alquiler. La app, por otra parte le permite al administrador el manejo de la alta, baja y modificaci칩n de 
         los estacionamientos y autos con diferencia de las acciones que puede realizar el usuario comun.
        </p>    
  </body>
</html>